<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Cash Track App</title>
</head>

<body>
 
  <div class="container">
    <br>
     <header id="header" class="hoc clear"><br>
               <h1 class="display-4" style="color: white">Cash Track App</h1>
    <p class="lead" style="color: white">Keep track of your time and cash</p>
                <nav id="mainav" class="fl_right">
                    <ul class="clear">
                        <li class="active"><a href="/">Home</a></li>


                        <li><a href="employers">Add Employer</a></li>
                        <li><a href="invoice">Create Invoice</a></li>
                        <li><a href="sendReminder">Communicate</a></li>
                        <li><a href="signUp">Sign Up</a></li>
                        <li><a href="signIn">Sign In</a></li>
                        <li><a href="logOut">Sign Out</a></li>

                    </ul>
                    </li>

                </nav>
            </header>
  </div>

  {{{body}}}
</body>

</html>
