<!DOCTYPE html>
<html>
 
<head>
    <title>Passport with Sequelize</title>
</head>
 
<body>
    <h2 style="background-color:white">Dashboard</h2>
    <h5 style="background-color:white">Alright then! you have been logged out.</h5>
 
</body>
 
</html>