<h1>{{msg}}</h1>

<form role="form">
            <div class="form-group row">
              <label for="service-input">Email Service</label>
              <input class="form-control" id="service-input" type="text" placeholder="gmail">
            </div>
            <div class="form-group row">
              <label for="user-input">Email:</label>
              <input class="form-control" id="email-input" type="email" placeholder="email@gmail.com">
            </div>
            <div class="form-group row">
              <label for="password-input">Password</label>
              <input class="form-control" id="password-input" type="password" placeholder="password">
            </div>
            <p>Pick an email template or write your own</p>
            <button id="initial-message" style="display:inline-block">Initial Bill</button>
            <button id="reminder-message" style="display:inline-block">Remind</button>
            <div class="form-group row">
              <label for="subject-input">Subject</label>
              <input class="form-control" id="subject-input" type="text">
            </div>
            <div class="form-group row">
              <label for="message-input">Message</label>
              <textarea class="form-control" id="message-input" type="text"></textarea>t
            </div>
            <div class="form-group row">
              <label for="path-input">Attachment File Path</label>
              <input class="form-control" id="path-input" type="text" placeholder="/Users/macuser/Downloads/invoice.pdf">
            </div>
          </form>



<button id="email">Send Email</button>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/email.js"></script>