<h1>{{msg}}</h1>

<form role="form">
            <div class="form-group row">
              <label for="service-input">Email Service</label>
              <input class="form-control" id="service-input" type="text">
            </div>
            <div class="form-group row">
              <label for="user-input">Email:</label>
              <input class="form-control" id="email-input" type="email">
            </div>
            <div class="form-group row">
              <label for="password-input">Password</label>
              <input class="form-control" id="password-input" type="password">
            </div>
          </form>


<button id="email">Send Email</button>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/email.js"></script>